<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.kiwiqa.testNGexamples.GroupIdExmaple"/>
      <class name="com.kiwiqa.testNGexamples.DataProviderExamples"/>
      <class name="com.kiwiqa.testNGexamples.TestNGMethodExample2"/>
      <class name="com.kiwiqa.testNGexamples.FormWithTestNG"/>
      <class name="com.kiwiqa.testNGexamples.OrangeWithTestNG"/>
      <class name="com.kiwiqa.testNGexamples.GroupIdExmaples"/>
      <class name="com.kiwiqa.testNGexamples.TestNGMethodExamples"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
